<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="600 seconds">
    <contextName>self-control-sql</contextName>
    <jmxConfigurator />

    <!-- 开发环境配置 -->
    <substitutionProperty name="log.base" value="../logs/self-control-sql/" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] [%contextName] [%X{traceId}] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="logfile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <File>${log.base}self-control-sql.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}self-control-sql.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] [%contextName] [%X{traceId}] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="com.whq">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework">
        <level value="ERROR" />
    </logger>

    <logger name="com.alibaba">
        <level value="DEBUG" />
    </logger>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="stdout" />
        <appender-ref ref="logfile" />
    </root>
</configuration>